{%- if value != null -%}
    <span><i class="published fa fa-check-circle"></i></span>
{%- endif -%}
{#
    this only exists because the red X in the toggle type is too much
    like an error in this context of 'there is nothing'
#}