{% extends 'partials/base.html.twig' %}


{% set flex = grav.get('flex') %}
{% set directory = flex.directory('composition') %}
{% set collection = directory.getCollection() %}

{# GENERIC SETTINGS #}
{% set current_page = uri.param('page')|default(1)|int %}
{% set limit = config.plugins.news.news_per_page|int %}
{% set start = (current_page - 1) * limit %}

{# {% set collection = collection.filterBy({'published': true}) %} #}
{% set collection = collection.public() %}

{# are we looking for specific subsets? #}
{% if uri.params('tag') %}
    {% set tagsearch = uri.param('tag') %}
    {% set collection = collection.inArray('tags', [tagsearch]) %}
    {% set page_title = 'PLUGIN_NEWS.TAGGED_WITH'|t( tagsearch ) %}
{% endif %}

{% set search = uri.param('search') %}
{# {% set search = 'composition' %} #}
{% if search %}
    {% set collection = collection.search(search) %}
    {% set page_title = 'PLUGIN_NEWS.SEARCH_FOR'|t( search ) %}
{% endif %}

{% set archive = uri.param('archive') %}
{% if archive %}
    {% set collection = collection.archive(archive) %}
    {% if collection|length %}
    {% set page_title = 'PLUGIN_NEWS.ARCHIVE_FOR'|t( archive|localizeddate( 'MMMM y', 'none', grav.language.getActive ) ) %}
    {% endif %}
{% endif %}

{% set count = collection|length %}
{# this is important: collection represents all posts, slice only the current page #}
{# collection is required for the pagination and must not be further modified #}
{% set collection_slice = collection.limit(start, limit) %} {# this is your pagination #}

{% set page_title = page_title|default(page.title) %}

{% if uri.param('page') %}
    {% set page_title = page_title ~ ', ' ~ 'PLUGIN_NEWS.PAGE'|t ~ ' ' ~ uri.param('page') %}
{% endif %}

{# chassis theme specific <title> injection #}
{% set title_overwrite = page_title %}

{% block content %}
<div class="wrapping">
    <h1 class="title vh">
        {{ page_title }}
    </h1>

    {# render collection using flex templates #}
    {% render collection_slice %}

    {% include 'partials/news/pagination.html.twig' with { collection: collection } %}
    {# collection would be available anyway but to be sure  #}
</div>
{% endblock %}