{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://dist/css/news.css', 99) %}

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('news') %}
{% set collection = directory.getCollection() %}

{% set search = uri.param('search') %}

{# GENERIC SETTINGS #}
{% set current_page = uri.param('page')|default(1)|int %}
{% set limit = config.plugins.news.news_per_page|int %}
{% set start = (current_page - 1) * limit %}

{# {% set collection = collection.filterBy({'published': true}) %} #}
{% set collection = collection.public() %}

{% if search %}
    {% set collection = collection.search(search) %}
{% endif %}

{% set count = collection|length %}
{% set collection_slice = collection.limit(start, limit) %} {# this is your pagination #}

{# {% render collection layout: 'json' with {x: x, y: y, count: count} %} #}

{% block content %}
<div class="wrapping">
    <h1 class="title">
        {{ page_title }}
    </h1>

    {% include 'partials/news/index.html.twig' %}
    {% include 'partials/news/pagination.html.twig' %}

</div>
{% endblock %}