{% extends 'partials/base.html.twig' %}
{% if config.plugins.news.built_in_css %}
    {% do assets.addCss('plugin://news/assets/css/news.css', 99) %}
{% endif %}

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('news') %}
{% set post = directory.getObject(header.object) %}

{% block content %}

<div class="wrapping">
    {% render post %}

    {% if post.tags|length -%}
    <ul class="news__tagList">
    {% for entry in post.tags %}
        <li>
            <a class="news__tag" href="{{ config.plugins.news.news_page }}/tag:{{ entry }}">
                {{ entry }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% endif -%}

    {% include 'partials/news/postnav.html.twig' with { directory: directory } %}
</div>


{% endblock %}