{% extends 'partials/base.html.twig' %}
{% if config.plugins.news.built_in_css %}
    {% do assets.addCss('plugin://news/assets/css/news.css', 99) %}
{% endif %}

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('news') %}
{% set collection = directory.getCollection() %}

{# GENERIC SETTINGS #}
{% set current_page = uri.param('page')|default(1)|int %}
{% set limit = config.plugins.news.news_per_page|int %}
{% set start = (current_page - 1) * limit %}

{# {% set collection = collection.filterBy({'published': true}) %} #}
{% set collection = collection.public() %}

{% set search = uri.param('search') %}
{% if search %}
    {% set collection = collection.search(search) %}
{% endif %}

{% set count = collection|length %}
{# this is important: collection represents all posts, slice only the current page #}
{# collection is required for the pagination and must not be further modified #}
{% set collection_slice = collection.limit(start, limit) %} {# this is your pagination #}

{% set page_title = page.title %}

{% if uri.param('page') %}
    {% set page_title = page_title ~ ', ' ~ 'PLUGIN_NEWS.PAGE'|t ~ ' ' ~ uri.param('page') %}
{% endif %}

{% block content %}
<div class="wrapping">
    <h1 class="title vh">
        {{ page_title }}
    </h1>

    {# render collection using flex templates #}
    {% render collection_slice %}

    {% include 'partials/news/pagination.html.twig' with { collection: collection } %}
    {# collection would be available anyway but to be sure  #}
</div>
{% endblock %}